<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto text-uppercase">SlateChamp</h1>
			<div class="text-light">
				<h3>HOW IT WORKS</h3>
				<div class="ml-3" align="left">
					<p>- Enter a league with a specified slate of games (ie. NFL Sunday Slate)</p>
					<p>- You start with 500 credits</p>
					<p>- Credits can be wagered on games for that slate of action</p>
					<p>- All bets must be placed before the first game in the slate</p>
					<p>- Only straight, parlay, and teaser bets are allowed</p>
					<p>- The player with the most credits after all games have concluded wins</p>
				</div>
			</div>
		</div>
	</div>
</header>
