<div class="text-muted topNav" *ngIf="leagues.length < 1" align="center"><p>Loading League Leaderboard</p></div>
<div class="loader" *ngIf="leagues.length < 1"></div>

<div class="container pt-5 bg-dark" *ngIf="leagues.length > 0">
  <div class="row" align="center">

    <div class="row mt-3 ml-0 mr-0" *ngFor="let league of leagues">
      <div class="col bg-dark block text-light p-0 m-0 h-100" *ngFor="let league of leagues">
        <div class="col" align="center">
          <h5 class="headerFont">{{league.name}} - Total Pool: {{league.buyin * league.participants.length}}</h5>
        </div>
        <div>
          <table class="table table-dark table-hover w-100">
            <thead>
              <tr>
                <th style="width:75%">Username</th>
                <th style="width:25%">Current Balance</th>
                <!-- <th style="width:25%">Prize</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let part of league.participants" (click)="getPlayerBets(part._id)" data-toggle="modal" data-target="#exampleModal">
                <td>{{part.name}} - Click to view bets</td>
                <td>{{part.currentBalance}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Player Bets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fontSmall mt-0 mb-0 pb-0 pt-0" *ngFor="let tmp of tmpBets">
        {{tmp}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
