<div class="text-muted topNav" *ngIf="leagues.length < 1" align="center"><p>Loading League Leaderboard</p></div>
<div class="loader" *ngIf="leagues.length < 1"></div>

<div class="container pt-5 bg-dark" *ngIf="leagues.length > 0">
  <div class="row" align="center">

    <div class="row mt-3 ml-0 mr-0" *ngFor="let league of leagues">
      <div class="col bg-dark block text-light p-0 m-0 h-100" *ngFor="let league of leagues">
        <div class="col" align="center">
          <h5 class="headerFont">{{league.name}} - Total Pool: {{league.buyin * league.participants.length}}</h5>
        </div>
        <div>
          <table class="table table-dark table-hover w-100">
            <thead>
              <tr>
                <th style="width:75%">Username</th>
                <th style="width:25%">Current Balance</th>
                <!-- <th style="width:25%">Prize</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let part of league.participants">
                <td>{{part.name}}</td>
                <td>{{part.currentBalance}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
