<div class="container pt-5 pr-0 pl-0">
  <div class="row">

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/mlb.png" (click)="navigate(16, 225)">
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/soccer.jpg">
      <div class="card-header">
        <div class="row mb-1">
        </div>
        <div *ngFor="let soccer of soccer">
        <div class="row mb-1" *ngIf="soccer.live==true">
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(1, soccer.id)">{{soccer.league}}</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/nfl.png" (click)="navigate(12, 271)">
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/ncaaf.jpg" (click)="navigate(12, 474)">
    </div>

</div>
</div>
