<div class="text-muted topNav" *ngIf="odds.length < 1" align="center"><p>Loading Lines</p></div>
<div class="loader" *ngIf="odds.length < 1"></div>

<div class="container pt-5 mb-5 bg-dark" *ngIf="odds.length > 1 && sport != 1">
<div class="row" align="center">
  <div *ngFor="let odd of odds" class="card col-sm-4 mt-3 pl-0 pr-0">
    <div class="row pl-0 pr-0 ml-0 mr-0 text-muted">
      <div class="col" align="left">
        <p class="m-0 pl-3">{{odd.matchDate | slice:0:6}}</p>
      </div>
      <div class="col" align="right">
        <p class="m-0 pr-3">{{odd.matchTime}}</p>
      </div>
    </div>
    <div class ="row ml-0 mr-0 imageDivHeight">
      <div class ="col p-0 float-left">
        <!-- <img class="w-75 h-100" src="{{odd.awayImagePath}}" alt="Card image cap"> -->
        <img class="w-75 h-100" src="{{odd.awayImagePath}}" alt="Card image cap">
      </div>
      <h2 class="mt-4">@</h2>
      <div class ="col p-0 float-right">
        <img class="w-75 h-100" src="{{odd.homeImagePath}}" alt="Card image cap">
      </div>
    </div>
    <div class="card-header pl-1 pr-1 border-top">
      <div align="left">
        <div class="row pl-3">{{odd.awayTeam}}</div>
        <div class="row border-bottom pb-1 pt-1">
          <div class="col">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'awayTeamML')">{{odd.awayTeamML}}</label>
          </div>
          <div class="col" align="center">
            <label class="btn btn-primary btn-sm"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'awayTeamRL')">{{odd.awayTeamRL}} {{odd.awayTeamRLOdds}}</label>
          </div>
          <div class="col">
            <label class="btn btn-primary btn-sm float-right"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'over')">o{{odd.totalNumber}}</label>
          </div>
        </div>
      </div>
      <div align="left">
        <div class="row pl-3">{{odd.homeTeam}}</div>
        <div class="row pb-1 pt-1">
          <div class="col">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'homeTeamML')">{{odd.homeTeamML}}</label>
          </div>
          <div class="col" align="center">
            <label class="btn btn-primary btn-sm"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'homeTeamRL')">{{odd.homeTeamRL}} {{odd.homeTeamRLOdds}}</label>
          </div>
          <div class="col">
            <label class="btn btn-primary btn-sm float-right"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'under')">u{{odd.totalNumber}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Soccer -->
<div class="container pt-5 mb-5 bg-dark" *ngIf="odds.length > 1 && sport == 1">
  <div class="row">

    <div *ngFor="let odd of odds" class="card col-sm-4 mt-3 pl-0 pr-0">
      <!-- Date -->
      <div class="row pl-0 pr-0 ml-0 mr-0">
        <div class="col w-50" align="left">
          <p class="m-0 pl-3 text-muted">{{odd.matchDate}}</p>
        </div>
        <div class="col w-50 text-muted" align="right">
          <p class="m-0 pr-3">{{odd.matchTime}}</p>
        </div>
      </div>

      <!-- Away Team @ Home Team -->
      <div class="row pl-0 pr-0" align="center">
        <div class="col font-weight-bold" align="center">
          {{odd.awayTeam}} @ {{odd.homeTeam}}
        </div>
      </div>

      <div class="card-header p-1 w-100">

        <!-- Away Team, Home Team, Draw Headers -->
        <div *ngIf="sport == 1">
          <div class="row border-bottom smallFont">
            <div class="col soc border-right" align="center">
              {{odd.awayTeam}}
            </div>
            <div class="col soc border-right" align="center">
              Draw
            </div>
            <div class="col soc" align="center">
              {{odd.homeTeam}}
            </div>
          </div>

          <div class="row border-bottom mb-1 pb-1 pt-1" *ngIf="odd.awayTeamML != null || odd.homeTeamML != null || odd.drawOdds != null">
            <div class="col border-right">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'awayTeamML')">{{odd.awayTeamML}}</label>
            </div>
            <div class="col border-right">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'draw')">{{odd.drawOdds}}</label>
            </div>
            <div class="col border-right">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'homeTeamML')">{{odd.homeTeamML}}</label>
            </div>
          </div>

          <!-- <div class="row border-bottom mb-1 pb-1" *ngIf="odd.awayTeamRL!=0 || odd.homeTeamRL!=0">
            <div class="col w-50 border-right">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'awayTeamRL')">{{odd.awayTeamRL}}</label>
            </div>
            <div class="col w-50">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'homeTeamRL')">{{odd.homeTeamRL}}</label>
            </div>
          </div> -->

          <div class="row smallFont" *ngIf="odd.over.number!=0 || odd.under.number!=0">
            <div class="col w-50 border-right" align="center">
              OVER
            </div>
            <div class="col w-50" align="center">
              UNDER
            </div>
          </div>

          <div class="row border-bottom mb-1 pb-1" *ngIf="odd.over.number!=0 || odd.under.number!=0">
            <div class="col w-50 border-right">
            <label class="btn btn-primary btn-sm btn-block float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'over')">{{odd.over.number}}  {{odd.over.odds}}</label>
            </div>
            <div class="col w-50">
            <label class="btn btn-primary btn-sm btn-block float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'under')">{{odd.under.number}}  {{odd.under.odds}}</label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="btn btn-success btn-lg inside mb-2" *ngIf="parlay.length>1" (click)="placeBet()">Continue</div>
