.inside {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.btn {
  font-size: 60%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.topNav{
  margin-top:5rem;
}
