<div class="container bg-dark m-0 p-0 text-light">
  <div class="row mt-5" align="center">
    <div class="col mt-2">
      <h3>Welcome</h3>


      <div class="col bg-dark block text-light p-0 m-0 h-100">

        <div class="row pt-2 border-bottom">
          <div class="col" align="center">
            <h5 *ngIf="showUsers==false" (click)="showHideUsers()">Show All Users</h5>
            <h5 *ngIf="showUsers" (click)="showHideUsers()">Hide All Users</h5>
          </div>
        </div>
        <div *ngIf="showUsers">
          <table class="table table-dark table-hover w-100">
            <thead>
              <tr>
                <th style="width:50%">Username</th>
                <th style="width:50%">Current Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.currentBalance}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row border-bottom">
          <div class="col" align="center">
            <h5 class="mt-2">Create a League</h5>
          </div>
        </div>

        <form class="form-horizontal mt-3 mb-3" autocomplete="off">
          <div class="form-group w-75">
            <input type="text" [(ngModel)]="name" name="name" class="form-control" id="details" placeholder="Enter League Name">
          </div>
          <div class="form-group w-75">
            <input type="number" [(ngModel)]="sport" name="sport" class="form-control" id="sport" placeholder="Enter Sport">
          </div>
          <div class="form-group w-75">
            <input type="date" [(ngModel)] ="date" name="date">
          </div>
          <div class="form-group w-75">
            <input type="number" [(ngModel)]="buyin" name="buyin" class="form-control" id="buyin" placeholder="Buyin Amount">
          </div>
          <div class="form-group">
            <div class="row">
              <button class="btn btn-primary mx-auto mt-3" (click)="createLeague()">Create League</button>
            </div>
          </div>
        </form>

        <div class="row pt-2 border-bottom">
          <div class="col" align="center">
            <h5>Leagues</h5>
          </div>
        </div>
        <div>
          <table class="table table-dark table-hover w-100">
            <thead>
              <tr>
                <th style="width:75%">Description</th>
                <th style="width:25%">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let league of leagueArray">
                <td class="smallFont">{{league.name.toUpperCase()}}</td>
                <td (click)="closeLeague(league)">Close</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="btn btn-success btn-lg inside mb-2" (click)="clickMethod()">Clear Balances</div>
