<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto text-uppercase mb-5">SlateChamp</h1>
			<form (submit)="onLoginSubmit()" class="form-inline d-flex" autocomplete="off" *ngIf="!authService.loggedIn()">
				<div class="col">
					<div class="row">
						<input type="username" [(ngModel)]="username" name="username" class="in-test form-control mb-2 mx-auto" id="username" placeholder="Username">
					</div>
					<div class="row">
				<input type="password" [(ngModel)]="password" name="password" class="in-test form-control flex-fill mb-2 mx-auto" id="password" placeholder="Password">
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary mx-auto mt-3">Login</button>
			</div>
			</div>
			</form>
		</div>
	</div>
</header>
<footer class="bg-black small text-center text-white-50">
	<div class="container">
		Terms of Service
	</div>
</footer>
<h2 *ngIf="termsOfServiceClicked">Fathomless TOS</h2>
<h2>Terms of Service</h2>
<p>
	SlateChamp is for educational purposes only. SlateChamp is an information centric site that does not operate nor provide any form of real money online casino gambling entertainment. SlateChamp is a hub for information pertaining to 3rd parties for which we’ve reviewed and recommended on our site. Any and all information found on the SlateChamp website is to be used strictly for information purposes only. We do not warranty or guarantee any of the services offered by the 3rd parties that can be reached via means of links both direct download and those that allow you to first visit a 3rd party prior to engaging in activities on their site/software.
We reserve the right to change any information throughout the site in addition to any changes to our policies and procedures without any prior notice or consent. SlateChamp does not warranty the accuracy of any information found throughout the site which includes but is not limited to scores, reviews, screenshots, currency, et cetera. The information found on the site is to be provided on an “as is” basis and is without any warranty of any kind. Other 3rd parites which may include sites that do not accept wagers and online gambling action from players in addition to those that provided information on such sites is not our responsibility. We will not be held accountable for any information, offerings or other such information found on sites linked to from this site. Be sure to check any restrictions within our review before proceeding to the site.
SlateChamp recommends that you look into your local laws before playing here. Players must be of legal age to play at casinos found here and it must be legal to play in your own city, town, state, province or country before doing so. We highly suggest carefully reviewing and evaluating policies of any casino and/or 3rd party you decide to engage with in playing before playing to avoid any complications, that may be associated with your location, age or other factor that may be included within the casino’s or 3rd parties own terms and conditions.
Users who are visitors to SlateChamp must understand that there is no sure thing when it comes to gambling both online and offline and thus SlateChamp will never be held accountable for any losses or damages incurred by visitors at online casinos or any other gambling type site.
By using our site you indemnify and release SlateChamp, platformUrl.com, affiliates, successors, assigns and any other companies which hereby are directly associated with the owners of the site from any potential legal action or liabilities.
As part of FTC digital advertising guidelines we are required to inform visitors to our site that we accept payment for advertising by the companies that can be found listed here on SlateChamp. (keep this if you want any ads on your site or remove it if you don’t plan to)
</p>
<h2>Free Gaming Simulator</h2>
	<p>This website allows for the simulation of online sports betting.  All money is virtual and has no actual value.  As a test user, you are not entitled to any intellectual property.  By providing feedback and suggestions, you may be rewarded on a case by case basis.  Data about your bets will be collected for analytical purposes.</p>
