.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: .5rem .8rem;
  font-size: 70%;
  text-transform: uppercase;
  border: 0;
}

.soccer-width {
  width:75%;
}

.topNav {
  margin-top:5rem;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
