<!-- <div class="text-muted topNav" *ngIf="leagueSport==0" align="center"><p align="center">Join a league to view bet options</p></div> -->

<div class="container pt-5 mt-2">
  <div class="row">

    <!-- <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/nfl.png" alt="NFL">
      <div class="card-header">
        <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(4)">Game Odds</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(12,271)">More Odds</a>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="parlay(4)">Parlay</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="teaser(4, 2)">Teaser (2)</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="teaser(4, 3)">Teaser (3)</a>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="props('nfl')" *ngIf="nflProps.length > 0">Futures and Props</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/ncaaf.jpg" alt="College Football">
      <div class="card-header">
        <div class="row">
          <div class="col w mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(3)">Game Odds</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="parlay(3)">Parlay</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="teaser(3, 2)">Teaser (2)</a>
          </div>
          <!-- <div class="col w-50 mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(12,474)">More Odds</a>
          </div> -->
        </div>
        <!-- <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="teaser(3, 3)">Teaser (3)</a>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="props('cfb')" *ngIf="cfbProps.length > 0">Futures and Props</a>
          </div>
        </div> -->
      </div>
    </div>

    <!-- <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/mlb.png" alt="MLB">
      <div class="card-header">
        <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-sm btn-block btn-secondary text-light" (click)="navigate(0)">Game Odds</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-sm btn-block btn-secondary text-light" (click)="moreOdds(16,225)">More Odds</a>
          </div>
          <div class="col mb-1" align="center">
            <a class="btn btn-sm btn-block btn-secondary text-light" (click)="parlay(0)">Parlay</a>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="props('mlb')" *ngIf="mlbProps.length > 0">Futures and Props</a>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="card col-sm-4 pl-0 pr-0">
      <img src="https://www.seeklogo.net/wp-content/uploads/2011/05/major-league-soccer-vector-logo-400x400.png"  alt="Soccer" />
      <div class="card-header">
        <div class="col mb-1" align="center">
          <a class="btn btn-secondary btn-block text-light" (click)="clickShowSoccer()" *ngIf="!showSoccer">Show Soccer Leagues</a>
        </div>
        <div class="col mb-1" align="center">
          <a class="btn btn-secondary btn-block text-light" (click)="clickShowSoccer()" *ngIf="showSoccer">Hide Soccer Leagues</a>
        </div>
        <div class="row mb-1" *ngFor="let soccer of soccer">
          <div class="col w-75" align="center" *ngIf="showSoccer">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(1,soccer.id)">{{soccer.league}}</a>
          </div>
          <div class="col w-25" align="center" *ngIf="showSoccer">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOddsParlay(1,soccer.id)">parlay</a>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/ufc.jpg">
      <div class="card-header">
        <div class="row">
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(11)">Fights</a>
          </div>
        </div>
      </div>
    </div> -->


  </div>
</div>
