.inside {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.smallFont{
  font-size:60%;
}

.btn {
  font-size: 75%;
}

.imageDivHeight {
  height: 3rem;
}
